<phpunit colors="true" bootstrap="bootstrap.php" verbose="true">
    <testsuites>
        <testsuite name="Api">
            <directory>src/TicTacToeGame/Api/V1/Tests</directory>
        </testsuite>
        <testsuite name="TicTacApp">
            <directory>src/TicTacToeGame/TicTac/Tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist>
            <directory suffix=".php">src/TicTacToeGame</directory>
            <exclude>
                <directory>vendor</directory>
                <directory>src/TicTacToeGame/Api/V1/Tests</directory>
                <directory>src/TicTacToeGame/App</directory>
                <directory>src/TicTacToeGame/TicTac/Tests</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>