<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="title" content="The Tic Tac Toe Game - Alejandro Barba Prieto">
        <meta name="description" content="Alejandro Barba's Tic Tac Toe Game for TicTacToeGame Holding Php Developer Assessment">

        <title>The Tic Tac Toe Game - Alejandro Barba Prieto</title>

        <link rel="stylesheet" type="text/css" href="/css/styles.css"/>

        <script src="/js/jquery.min.js"></script>
    </head>
    <body>
        {% block content %}{% endblock %}
    </body>
</html>